/* @theme custom */
/* Author: Sasaki Hasuto */

@import "default";

img {
  padding-top: 20px;
  width: 300px;
  margin: auto;
}

header {
  background-color: #001c6a;
  color: #fff;
  width: 100%;
  height: 70px;
  padding-left: 20px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #33495d;
}

/*本日伝えたいこと様*/
.clothes{
  transform: rotate(270deg);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

/* 自己紹介の写真用 */
.icon {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}


/* スライドの画像用 */
.slide-image {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: block;
}

.flex-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}